body {
    height: 100%;
    width: 100%;
    background: #f6f0ee;
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #010b26;
}

* {
    transition: 300ms;
}

h1,h2,h3,h4,h5,p {
    font-weight: 400;
}

a {
    text-decoration:none;
    color:inherit;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

img {
    transition: 0.2s ease-in-out 0s;
}

.movie-card {
    height: 400px;
    background: #ffffff;
    box-shadow: 0 6px 18px rgba(0,0,0,.1);
    width: 100%;
    max-width: 285px;
    margin: 2em;
    border-radius: 10px;
    display:inline-block;
}

.movie-header {
    padding: 0;
    margin: 0;
    height: 350px;
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.poster {
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
}

.movie-card:hover {
    transform:scale(1.03);
    box-shadow: 0 10px 25px rgba(0,0,0,.08);
}

.movie-content {
    padding: 10px 18px 24px 18px;
    margin: 0;
}

.movie-content-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.movie-title {
    font-size: 24px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.year-info {
    margin-left: 9px;
    margin-top: 8px;
    color: #acacac;
}

.movie-info {
    margin-top: 1em;
}

form.hide-submit input[type="submit"] { display: none;}

svg.bi.bi-box-arrow-left {
    position: fixed;
    top: 4%;
    right: 2.5%;
    cursor: pointer;
    fill: #5c5c5c;
}

@media screen and (max-width: 500px) {
    .movie-card {
        width: 95%;
        max-width: 95%;
        margin: 1em;
        display: block;
    }

    .container {
        padding: 0;
        margin: 0;
    }
}
